.first{
    /* margin-left: 55%; */
    height: 20px;
     /* background-color: bisque; height: 568px; width: 500px; */
     
    
}
.firstimg{
    height: 600px;
    margin-left: 68%;
    
}
.logo{
    /* padding-top: 30px; */
    margin-left: 150px;
}